<!-- <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Crea una nueva categoria</h5>
    <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <div class="form-floating mb-3">
        <app-input class="" [control]="transform('name',form)" placeholder="" label="Nombre" [type]="'text'"></app-input>
    </div>
    <div class="form-floating mb-3">
        <app-input class="" [control]="transform('description',form)" placeholder="" label="Descripción" [type]="'text'"></app-input>
    </div>


</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Cerrar</button>
    <button type="button" class="btn btn-primary" (click)="create()">Crear Categoría</button>
</div> -->