

<div class=" content">
    <div class=" row">
        <div class=" col-12">
          <app-basic-chart [title]="'Tren superior'" [meassurements]="topDataset" [chartLabels]="topChartLabels" [buttonLabels]="['Pecho','Brazo','Cuello']" [chartId]="'1'"></app-basic-chart>
        </div>
        <div class=" col-6">
          <app-basic-chart [title]="'Tren inferior'" [meassurements]="botomDataset" [chartLabels]="botomChartLabels" [buttonLabels]="['Caderas','Cintura','Pierna']" [chartId]="'2'"></app-basic-chart>
        </div>
        <div class=" col-6">
          <app-basic-chart [title]="'Otras Medidas'" [meassurements]="otherDataset" [chartLabels]="otherChartLabels" [buttonLabels]="['Peso','% Grasa','MC']" [chartId]="'3'"></app-basic-chart>
        </div>
    </div>
</div>