<div class=" content">
    <div class=" row d-flex justify-content-center">
        <div class=" col-md-8 ">
            <div class=" card">
                <div class=" card-header">
                    <h5 class=" title">Datos basicos de SHARON MATINEZ</h5>
                </div>
                <div class=" card-body all-icons">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputPeso4">Nombre</label>
                                <input type="text" class="form-control" id="inputPeso4" placeholder="Sharon Martinez">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">Contacto</label>
                                <input type="number" class="form-control" id="inputPassword4" placeholder="30202226215">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="inputAddress">Email</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="ejemplo@gmail.com">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputAddress2">Fecha nacimiento</label>
                                <input type="date" class="form-control" id="inputAddress2">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="inputCity">Peso Inicial</label>
                                <input type="number" class="form-control" id="inputAddress2" placeholder="70 kg">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputState">Altura</label>
                                <input type="number" class="form-control" id="inputCity" placeholder="168 cm">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputZip">Edad</label>
                                <input type="number" class="form-control" id="inputZip" placeholder="25 años">
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>